<% layout ("layout") %>

  <!-- Hero section with product search form -->
  <div class="container search-hero">

    <h1 class="headline">TJ Lover</h1>

  </div>

  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-10">
          <label for="product-search-form" class="sr-only">Product Search</label>
          <input type="text" class="form-control" id="product-search-form" name="product" placeholder="Product Name" />
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default">Search</button>
        </div>
        <div class="col-md-1">
          <img src="pointing-finger-small.png" />
        </div>
      </div>
    </form>


  </div> <!-- End search form container -->
  
  <div class="container showcase">

    <!-- First item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%- picurl %>" alt="<%- product %>" />
          <div class="caption">
            <h3><%= product %></h3>
            <p><%= description %></p>
          </div>
          <p class="stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div>
      </div>
    </div>

    <!-- Second item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%- picurl2 %>" alt="<%- product2 %>" />
          <div class="caption">
            <h3><%= product2 %></h3>
            <p><%= description %></p>
          </div>
          <p class="stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div> <!-- Close thumbnail -->
      </div> <!-- Close grid -->
    </div> <!-- Close row -->

    <!-- Third item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%- picurl2 %>" alt="<%- product2 %>" />
          <div class="caption">
            <h3><%= product2 %></h3>
            <p><%= description %></p>
          </div>
          <p class="stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div> <!-- Close thumbnail -->
      </div> <!-- Close grid -->
    </div> <!-- Close row -->