<% layout ("layout") %>

  <!-- navbar -->
  <% include navbar.ejs %>


  <!-- Hero section with product search form -->

  <!-- Hero headline -->
  <div class="container search-hero">
    <h1 class="headline">TJ Lover</h1>
  </div>

  <div class="container"> <!-- Search box container -->

    <!-- Search box -->
    <% include searchbar.ejs %>
    <!-- End search box -->

  </div> <!-- End search form container -->
  
  <div class="container showcase row">

    <!-- First item -->
    <div class="items col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/product/<%-Product1.id %>"><img src="<%= Product1.picurl %>" alt="<%= Product1.product %>" /></a>
        <div class="caption">
          <h3><a href="/product/<%- Product1.id %>"><%= Product1.product %></a></h3>
          <p><%= Product1.description %></p>
          <% if (!isAuthenticated) { %>
          <a href="/login"><p class="stars front-stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p></a>
          <% } %>
          <% if (isAuthenticated) { %>
          <p class="stars front-stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Second item -->
    <div class="items col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/product/<%-Product2.id %>"><img src="<%= Product2.picurl %>" alt="<%= Product2.product %>" /></a>
        <div class="caption">
          <h3><a href="/product/<%- Product2.id %>"><%= Product2.product %></a></h3>
          <p><%= Product2.description %></p>
          <p class="stars front-stars"><input id="input-6b" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div>
      </div> <!-- Close thumbnail -->
    </div> <!-- Close row -->

    <!-- Third item -->
    <div class="items col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="/product/<%-Product3.id %>"><img src="<%= Product3.picurl %>" alt="<%= Product3.product %>" /></a>
        <div class="caption">
          <h3><a href="/product/<%- Product3.id %>"><%= Product3.product %></a></h3>
          <p><%= Product3.description %></p>
          <p class="stars front-stars"><input id="input-6c" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div>
      </div> <!-- Close thumbnail -->
    </div> <!-- Close row -->
  </div>

  <!-- Footer partial -->
  <% include globalfooter.ejs %>
  <!-- Footer partial -->